:root {
  --background-color: white;
  --border-color: rgb(38, 70, 83, 0.5);
  --text-color: black;
  --article-width: 960px;
  --therm-radius: 0px 0px 20px 20px;
  /* for js */
  --current-temp: 0px;
  --current-raised: 0px;
}

* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
}

/*----------NAVIGATION---------- */
nav {
  background-color: #adcbeb;
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  top: 0;
  left: 0;
  position: fixed;
}

.nav-section:focus {
  outline: 0;
}

/* selecting all div's with nav-section class */
.nav-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem;
  width: 100%;
  border-left: 1px solid var(--border-color);
}

/* transition animation for nav links*/
.nav-section img {
  width: 35px;
  transition: transform 0.3s;
}

.nav-section img:hover {
  transform: scale(1.5);
}
/*----------NAVIGATION---------- */

/*----------MAIN---------- */
main {
  width: 80vw;
  margin: auto;
  margin-top: 9rem;
  margin-bottom: 10rem;
}

header {
  text-align: center;
  width: 80vw;
}

hr {
  border: 1px solid #adcbeb;
  max-width: 1000px;
  margin: auto;
}

article {
  max-width: var(--article-width);
  margin: auto;
  text-align: left;
  margin-bottom: 100px;
}

a {
  text-decoration: none;
}
/*----------MAIN---------- */

/*----------PROGRESS THERMOMETER---------- */
#thermometer {
  border-radius: 0px 0px 20px 20px;
  top: 50px;
  width: 100px;
  height: 300px;
  border: 2px solid var(--border-color);
  border-top: none;
  position: relative;
  margin: auto;
  background-color: var(--background-color);
}

#thermometer-current {
  border-radius: 0px 0px 18px 18px;
  width: 100%;
  height: ;
  background-color: gold;
  position: absolute;
  bottom: 0;
}

#hot {
  position: absolute;
  top: -35px;
  left: 25px;
}

#current-temp {
  position: absolute;
  bottom: var(--current-temp);
  left: -56px;
}

#current-raised {
  position: absolute;
  bottom: var(--current-raised);
  left: 100px;
}

#cold {
  position: absolute;
  bottom: -40px;
  left: 30px;
}
/*----------PROGRESS THERMOMETER---------- */

/*----------FOOTER---------- */
.footer-section {
  border-top: var(--border-color);
}

footer {
  background-color: #adcbeb;
  padding: 1rem 1rem;
  border-top: 1px solid var(--border-color);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/*----------FOR SMALLER SCREENS---------- */
/* Changes with screen less than 412px (FOR PHONES) */
@media (max-width: 412px) {
  main {
    width: 100%;
    margin-top: 6rem;
  }
  header {
    text-align: center;
    width: 100%;
  }
  main {
    margin-bottom: 5rem;
  }
  .nav-section {
    padding: 1rem 1rem;
  }
  .nav-section img {
    width: 8vw;
  }

  footer {
    padding: 0rem 0rem;
  }

  table tr th {
    padding: 4px;
  }

  table tr td {
    padding: 3px;
  }
}

/*---------- TABLES ----------*/
/*----- basics -----*/
table {
  border-radius: 5px 5px 0px 0px;
  border-collapse: collapse;
}

/*----- table headings -----*/
th {
  background-color: #adcbeb;
  border: 1px solid var(--border-color);
  padding: 10px;
  text-align: left;
  font-size: 17px;
}

/*----- table data (a cell) -----*/
td {
  padding: 8px;
  border: 1px solid var(--border-color);
}

/*----- table row hover animation -----*/
tr {
  transition: background-color 0.5s;
}
tr:hover {
  background-color: #e8e8e8;
}

td {
  transition: background-color 0.4s;
}
td:hover {
  background-color: lightgrey;
}

.date {
  position: absolute;
  left: 800px;
  top: 705px;
}
